html {
	min-height: 100%;
	position: relative;
}

body {
	background-color: black;
	color: white;
	margin: 0;
	margin-bottom: 100px;
}

header {
	width: 100%;
}

span.carousel-control-prev-icon, span.carousel-control-next-icon {
	background-color: black;
	border-radius: 20px;
	padding: 25px;
}

ol.carousel-indicators {
	background-color: rgba(0,0,0,0.2);
	padding: 15px;
}

#myCarousel {
	width: 80%;
	height: 600px;
	margin: 0 auto;
	background: grey;
}

#myCarousel img {
	width: 100%;
	height: 600px;
}

.texto-slider {
	height: 3em;
	background-color: black;
	color: white;
}

a.btn.btn-lg.btn-primary {
	background-color: black;
	border: none;
	border-radius: 20px;
	color: white;
}

h2 {
	text-align: center;
	margin-top: 40px;
}

/*	buscar-anime.html	*/

button.btn.btn-outline-success.my-2.my-sm-0 {
	color: white;
	border-color: white;
}

button.btn.btn-outline-success.my-2.my-sm-0:hover {
	background-color: white;
	color: black;
}

div#search-results {
	color: black;
}

img.card-img-top {
	height: 403px;
}

h5.card-title {
	font-weight: bold;
}

a.btn.btn-primary {
    background-color: black;
    border: none;
}

a.btn.btn-primary:hover {
    background-color: grey;
}

.add-button {
	display: block;
	margin: 40px auto;
	padding: 15px 30px;
	background-color: white;
	color: black;
	font-weight: bold;
	border-radius: 15px;
	border: none;
}

.add-button:hover {
	background-color: black;
	color: whitesmoke;
	border: 1px solid white;
}

footer.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
    text-align: center;
    margin-top: 100px;
    border-top: 1px solid white;
}

footer.footer ul {
	list-style: none;
	padding: 0;
	margin-top: 10px;
}

footer.footer ul li {
	text-decoration: none;
}



@media only screen and (max-width: 600px) {
  
  #myCarousel {
	width: 90%;
	height: auto;
	margin: 0 auto;
	background: grey;
	}

	#myCarousel img {
		width: 100%;
		height: 300px;
	}

	h2 {
		font-size: 1.5rem;
	}
}
