.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: purple;
}

/**********************************************************************/

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: black;
  color: grey;
  margin: 0;
  margin-bottom: 100px;
}

* {
  font-family: Calibri;
}

header {
  width: 100%;
  height: 70px;
  background-color: #484848;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
}

main {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: black;
}

button {
  padding: 10px 20px;
  background-color: lightgreen;
  cursor: pointer;
}
button:hover {
  background-color: green;
}

.grid {
  margin: 0 auto;
}

main h2,p,button,.grid {
  margin-bottom: 50px;
}

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
    text-align: center;
    margin-top: 100px;
    border-top: 1px solid white;
}

footer.footer ul {
  list-style: none;
  margin-top: 10px;
}

footer.footer ul li {
  text-decoration: none;
}